@import url("https://raw.githubusercontent.com/JollanXD/Shikimori_Theme-/refs/heads/main/main_code_1.css");
@import url("https://raw.githubusercontent.com/JollanXD/Shikimori_Theme-/refs/heads/main/main_code_2.css");
@import url("https://raw.githubusercontent.com/JollanXD/Shikimori_Theme-/refs/heads/main/main_code_3.css");
@import url("https://raw.githubusercontent.com/JollanXD/Shikimori_Theme-/refs/heads/main/main_code_4mob.css");
body:after {
  background-image: url("https://raw.githubusercontent.com/JollanXD/SHIKI-/refs/heads/main/1614259158-29-p-fon-v-chernikh-tonakh-31.jpg");
}

.l-footer:after {
  content: "*Dark Forest*";
}

@media screen and (min-width: 1px) {
  .correct-mob-version {
    color: inherit;
  }
}

.shikista {
  color: white;
}

@media screen and (min-width: 1px) {
  html:root {
    --white-color: 255, 255, 255;
    --light-color: 199, 199, 199;
    --dark-color: 171, 171, 171;
    --bright-color: 0, 184, 230;
    --dull-color: 0, 155, 194;
    --input-color: 182, 150, 161;
    --hover-bottoms-1: 17, 24, 24;
    --buttoms-color: 22, 24, 23;
    --hover-buttoms-2: 25, 145, 154;
    --very-high-rating: 238, 0, 255;
    --high-rating: 143, 2, 162;
    --average-rating: 79, 0, 107;
    --small-rating: 46, 46, 46;
    --time-filled: 8, 127, 186;
    --time-empty: 25, 23, 23;
    --anime-inprocess: 69, 146, 76;
    --anime-complete: 41, 107, 47;
    --manga-inprocess: 189, 15, 86;
    --manga-complete: 195, 24, 93;
    --hover-color: 121, 85, 221;
    --shadows-color: 0, 0, 0;
    --block-color: 35, 35, 35;
    --menu-back: 9, 9, 9;
    --nick-cover: 144, 51, 193;
    --popup-color: 167, 84, 42;
    --hundred: 1;
  }
}
